/__pycache__
/.venv
/nuqlsenv
/models
/paper
/results
/data
/nuqls_performance_experiment
/figures
/test.ipynb
/posteriors/nuqlsPosterior
/imagenet.py
/nuqls_performance_experiment.py
/nuqls_experiment.ipynb
